body {
  background-color: $base-background-color;
}

.wrap {
  @include outer-container;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem
}
.inner {
  @include span-columns(12);
  padding: 1.5rem;
}

header {
  text-align: center;
  @include clearfix;
  padding-bottom: 1rem;
  margin-bottom: 2rem;

  border-bottom: 2px solid $almost-white
}

a {
  color: $blue;
  @include transition(all 200ms linear);
  text-decoration: none;
  border-bottom: 1px dashed rgba($blue, .25);
  padding-bottom: 1px;

  &:hover {
    border-bottom: 1px solid rgba($blue, .5);
  }

}

ul {;
  @include clearfix;
  margin-bottom: 2rem;
  li {
    margin-bottom: .5rem;

    @include media($large-screen-up) {
      @include span-columns(4);
      @include omega(3n);
    }

    ul {}
    ul li {
      width: 100%!important;
      float: left;
      clear: both;
    }

  }

  a {
    display: block;
    padding: .5rem 1rem;
    background: rgba($almost-white, .5);
    border-radius: $base-border-radius;
    color: $base-font-color;
    border-bottom: 1px solid darken($almost-white, 2%);

    &:hover {
      background: $almost-white;
      color: $base-font-color;
      border-bottom: 1px solid darken($almost-white, 4%);
    }
  }

  p {
    margin: .5rem 0 1rem;
    font-family: $monospace;
    font-size: $font-size-small;
    padding-left: 1.5rem
  }
}
