---
title: Analytics
---

%section.wrap
  %div.inner
    %header
      %h1 Toolbox
      %p Frameworks, plugins, libraries, tools, cheat sheets, etc.
      %a{:href => "http://ucarmetin.github.io/toolbox/"} http://ucarmetin.github.io/toolbox/

  %blockquote
    %p
      Forked from
      %a{:href => "https://github.com/onurakpolat/awesome-analytics"} Awesome Analytics
  %ul
    %li
      %a{:href => "#General analytics"} General analytics
    %li
      %a{:href => "#Heatmap-analytics"} Heatmap analytics
    %li
      %a{:href => "#Analytics-layers"} Analytics layers
    %li
      %a{:href => "#Mobile-analytics"} Mobile analytics
    %li
      %a{:href => "#App-store-analytics"} App store analytics
    %li
      %a{:href => "#Attribution-tracking"} Attribution tracking
    %li
      %a{:href => "#Social-media-analytics"} Social media analytics
    %li
      %a{:href => "#Analytics-dashboards"} Analytics dashboards
  %h2#general-analytics General analytics
  %ul
    %li
      %a{:href => "http://piwik.org/"} Piwik
      \- real-time open source app analytics tool.
    %li
      %a{:href => "https://calq.io/"} Calq
      \- simple, beautiful, and real-time cross-platform app analytics tool.
    %li
      %a{:href => "https://heapanalytics.com/"} Heap
      \- tracks your app users, clicks, form submissions, and anything else.
    %li
      %a{:href => "http://www.opentracker.net/"} Opentracker
      \- real time reporting, geo-location user tracking.
    %li
      %a{:href => "http://foxmetrics.com/%20"} Foxmetrics
      \- analytics to track your user’s actions and activities.
    %li
      %a{:href => "http://www.google.com/analytics/"} Google Analytics
      \- de facto standard for analytics in the web analytics space.
    %li
      %a{:href => "http://www.clicktale.com/"} Clicktale
      \- record and watch exactly how a visitor used your website.
    %li
      %a{:href => "https://www.gosquared.com/"} Go Squared
      \- analytics with visitor tagging to help you dig deeper into one user’s visit.
    %li
      %a{:href => "http://clicky.com/"} Clicky
      \- track visits and conversions, you can also track your video and audio analytics.
    %li
      %a{:href => "https://www.woopra.com/"} Woopra
      \- track where your users are coming from.
    %li
      %a{:href => "http://haveamint.com/"} Mint
      \- elf-hosted analytics solution.
    %li
      %a{:href => "http://www.goingup.com/"} Going Up
      \- manage SEO analytics and web app analytics with one tool.
    %li
      %a{:href => "https://chartbeat.com/"} Chartbeat
      \- beautiful, real-time app analytics tool for web apps.
    %li
      %a{:href => "http://get.gaug.es/"} Gauges
      \- real-time web analytics tool.
    %li
      %a{:href => "http://www.indicative.com/"} Indicative
      \- Web &amp; mobile  analytics tool.
    %li
      %a{:href => "http://www.openwebanalytics.com/"} Open Web Analytics
      \- open source web app analytics tool.
    %li
      %a{:href => "http://statcounter.com/"} Statcountr
      \- one of the ORIGINAL web analytics tools available.
    %li
      %a{:href => "http://snowplowanalytics.com/"} Snow Plow
      \- analytics tool for web apps with a lot of data.
    %li
      %a{:href => "http://www.adobe.com/solutions/digital-analytics/marketing-reports-analytics.html"} Adobe Digital Analytics
      \- standard analytics tools plus some that large organizations can use.
    %li
      %a{:href => "https://paditrack.com/"} Paditrack.com/
      \- analyze any data from Google Analytics, including the data you had before.
    %li
      %a{:href => "http://www.hitslink.com/"} Hitslink.com/
      \- real-time analytics, social media traffic reporting, and real-time dynamic segmentation.
    %li
      %a{:href => "http://parse.ly%20"} parse.ly
      \- real-time web analytics tool with a focus on tracking content.
    %li
      %a{:href => "http://loggr.net/"} Loggr
      \-  track your user events and monitor your web app.
    %li
      %a{:href => "https://www.kissmetrics.com/"} Kissmetrics
      \- real-time standard cohort analysis tool.
    %li
      %a{:href => "http://sitemeter.com/"} Sitemeter
      \- old analytics tool.
    %li
      %a{:href => "http://www.crawltrack.net/"} Crawl Track
      \- another old analytics tool.
    %li
      %a{:href => "http://www.sitespect.com/"} Sitespect
      \- full-suite web app analytics tool including A/B testing.
  %h2#heatmap-analytics Heatmap analytics
  %ul
    %li
      %a{:href => "https://www.reinvigorate.net/"} Reinviorate
      \- real-time analytics tool with heatmaps.
    %li
      %a{:href => "http://www.crazyegg.com/"} Crazyegg
      \- a heatmaps only analtyics tool.
    %li
      %a{:href => "https://www.inspectlet.com/"} Inspeclet
      \- another web app heatmaps tool.
    %li
      %a{:href => "http://mouseflow.com/%20"} Mouseflow
      \- live analytics and heatmaps.
    %li
      %a{:href => "http://www.sessioncam.com/"} Session Cam
      \- heatmaps analytics tool.
    %li
      %a{:href => "https://heatma.ps/"} Heatmaps for your iOS apps
      \- mobile app heatmaps for mobile apps.
    %li
      %a{:href => "http://heatdata.com/"} Heatmaps for Mobile Websites
      \- heatmaps tool for mobile apps and mobile websites.
  %h2#analytics-layers Analytics layers
  %ul
    %li
      %a{:href => "http://adjust.com/"} Keen.io
      \- custom-analytics API.
    %li
      %a{:href => "http://www.popcornmetrics.com/"} Popcorn metrics
      \- visual editor to capture events and send to toher platforns.
    %li
      %a{:href => "http://Segment.io"} Segment.io
      \- helps you integrate multiple app analytics tool with one piece of code.
  %h2#mobile-analytics Mobile analytics
  %p The tools listed here are not necessarily mobile analytics tools only. However they show a strong mobile focus.
  %ul
    %li
      %a{:href => "http://www.upsight.com/"} Upsight
      \- mobile app analytics tool for developers.
    %li
      %a{:href => "http://www.appsflyer.com/"} Appsflyer
      \- all-in-one marketing tool with analytics.
    %li
      %a{:href => "http://aws.amazon.com/mobileanalytics/"} Amazon Mobile Analytics
      \- Amazons multi-platform, basic mobile analytics tool.
    %li
      %a{:href => "https://tapstream.com/"} Tapstream
      \- user lifecycle analytics.
    %li
      %a{:href => "https://honeytracks.com/"} Honeytracks
      \- mobile app analytics for games.
    %li
      %a{:href => "https://apsalar.com/"} Apsalar
      \- analytics tool for larger app shops.
    %li
      %a{:href => "http://www.roambi.com/"} Roambi
      \- 3-in-1 analytics tool that helps you track analytics, handle mobile app business intelligence, and app reporting.
    %li
      %a{:href => "http://www.appcelerator.com/platform/appcelerator-analytics/"} Appcelerator
      \- entire mobile app marketing suite.
    %li
      %a{:href => "http://www.flurry.com/"} Flurry
      \- pretty much the “industry standard” for mobile app analytics.
    %li
      %a{:href => "http://count.ly/"} Count.ly
      \- open-source mobile app analytics tool.
    %li
      %a{:href => "http://playtomic.org/"} Playtomatic
      \- mobile app open source analytics tool for games.
    %li
      %a{:href => "http://www.capptain.com/"} Capptain
      \- real-time analytics tool with segmentation and push.
    %li
      %a{:href => "https://amplitude.com/"} Amplitude
      \- real-time mobile analytics with all data provided in redshift.
    %li
      %a{:href => "http://www.appsee.com/"} Appsee
      \- mobile app analytics platform automatically tracks all users' interactions in your app
    %li
      %a{:href => "https://mixpanel.com/"} Mixpanel
      \- fully featured mobile analytics platform with segmentation and push.
    %li
      %a{:href => "http://www.localytics.com/"} Localytics
      \- fast and beautiful real-time mobile analytics platform with in-app and push.
    %li
      %a{:href => "http://www.gameanalytics.com/"} GameAnalytics
      \- leading game analytics platform.
  %h2#app-store-analytics App store analytics
  %ul
    %li
      %a{:href => "http://appfigures.com/"} Appfigures
      \- app store analytics to track sales, reviews and rankings with an API.
    %li
      %a{:href => "http://www.appannie.com/"} Appannie
      \- track your app data from iTunes, Google Play &amp; Amazon.
    %li
      %a{:href => "http://www.distimo.com/"} Distimo
      \- free app store analytics (acquired by
      = succeed ")." do
        %a{:href => "http://www.appannie.com/"} Appannie
    %li
      %a{:href => "https://prioridata.com/"} Priori Data
      \- track and benchmark the performance of apps on Apple- and Play store.
    %li
      %a{:href => "http://www.askingpoint.com/mobile-app-rating-widget"} Asking Point
      \- track your mobile app user ratings.
    %li
      %a{:href => "http://www.apptrace.com/"} Apptrace
      \- fast and free app store analytics platform.
  %h2#attribution-tracking Attribution tracking
  %ul
    %li
      %a{:href => "http://adjust.com/"} Adjust
      \- open-source SDK with sophisticated analysis and campaign tracking.
    %li
      %a{:href => "http://clickmeter.com/"} Clickmeter
      \- analytics tool that helps you track marketing campaigns.
    %li
      %a{:href => "http://www.mobileapptracking.com/"} HasOffers Mobile app tracking
      \- attribution analytics platform.
  %h2#social-media-analytics Social media analytics
  %p Often there is no clear differentiation between social media management and analytics as most the tools provide analytics.
  %ul
    %li
      %a{:href => "https://klout.com/"} Klout
      \- Social media analytics and planning platform.
    %li
      %a{:href => "http://www.falconsocial.com/"} Falconsocial
      \- communications platform built on social media with analytics.
    %li
      %a{:href => "https://www.quintly.com/"} Quintly
      \- web-based tool to help you track, benchmark and optimize your social media performance.
    %li
      %a{:href => "http://kred.com/"} Kred
      \- Klout-like social media analytics platform.
    %li
      %a{:href => "https://bufferapp.com/"} Buffer
      \- Social media publishing and analytics platform.
    %li
      %a{:href => "http://topsy.com/"} Topsy
      \- Social analytics tool with search.
    %li
      %a{:href => "http://socialblade.com/"} SocialBlade
      \- premiere YouTube statistics tracking.
    %li
      %a{:href => "https://klout.com/"} SocialBench
      \- Social media analytics platform.
    %li
      %a{:href => "https://hootsuite.com/"} Hootsuite
      \- Social media management dashbaord.
    %li
      %a{:href => "http://www.brandwatch.com/"} Brandwatch
      \- Social media monitoring and analytics.
    %li
      %a{:href => "http://sproutsocial.com/"} Sproutsocial
      \- Social media management and analytics platform.
  %h2#analytics-dashboards Analytics dashboards
  %ul
    %li
      %a{:href => "https://github.com/Freeboard/freeboard"} Freeboard
      \- open source real-time dashboard builder for IOT and other web mashups.
    %li
      %a{:href => "https://www.geckoboard.com/"} Geckboard
      \- dashboard for key metrics in one place.
    %li
      %a{:href => "https://ducksboard.com/"} Ducksboard
      \- visualize and share the data that matters most to you and your team.
