---
title: Analytics
---

%section.wrap
  %div.inner
    %header
      %h1 Analytics
      %p
        Forked from
        %a{:href => "https://github.com/onurakpolat/awesome-analytics"} Awesome Analytics
        %br/
        %a{:href => "http://ucarmetin.github.io/toolbox/"} Go back

    %ul
      %li
        %a{:href => "#general analytics"} General analytics
      %li
        %a{:href => "#heatmap-analytics"} Heatmap analytics
      %li
        %a{:href => "#analytics-layers"} Analytics layers
      %li
        %a{:href => "#mobile-analytics"} Mobile analytics
      %li
        %a{:href => "#app-store-analytics"} App store analytics
      %li
        %a{:href => "#attribution-tracking"} Attribution tracking
      %li
        %a{:href => "#social-media-analytics"} Social media analytics
      %li
        %a{:href => "#analytics-dashboards"} Analytics dashboards
    %h2#general-analytics General analytics
    %ul
      %li
        %a{:href => "http://piwik.org/"} Piwik
        %p real-time open source app analytics tool.
      %li
        %a{:href => "https://calq.io/"} Calq
        %p simple, beautiful, and real-time cross-platform app analytics tool.
      %li
        %a{:href => "https://heapanalytics.com/"} Heap
        %p tracks your app users, clicks, form submissions, and anything else.
      %li
        %a{:href => "http://www.opentracker.net/"} Opentracker
        %p real time reporting, geo-location user tracking.
      %li
        %a{:href => "http://foxmetrics.com/%20"} Foxmetrics
        %p analytics to track your user’s actions and activities.
      %li
        %a{:href => "http://www.google.com/analytics/"} Google Analytics
        %p de facto standard for analytics in the web analytics space.
      %li
        %a{:href => "http://www.clicktale.com/"} Clicktale
        %p record and watch exactly how a visitor used your website.
      %li
        %a{:href => "https://www.gosquared.com/"} Go Squared
        %p analytics with visitor tagging to help you dig deeper into one user’s visit.
      %li
        %a{:href => "http://clicky.com/"} Clicky
        %p track visits and conversions, you can also track your video and audio analytics.
      %li
        %a{:href => "https://www.woopra.com/"} Woopra
        %p track where your users are coming from.
      %li
        %a{:href => "http://haveamint.com/"} Mint
        %p elf-hosted analytics solution.
      %li
        %a{:href => "http://www.goingup.com/"} Going Up
        %p manage SEO analytics and web app analytics with one tool.
      %li
        %a{:href => "https://chartbeat.com/"} Chartbeat
        %p beautiful, real-time app analytics tool for web apps.
      %li
        %a{:href => "http://get.gaug.es/"} Gauges
        %p real-time web analytics tool.
      %li
        %a{:href => "http://www.indicative.com/"} Indicative
        %p Web &amp; mobile  analytics tool.
      %li
        %a{:href => "http://www.openwebanalytics.com/"} Open Web Analytics
        %p open source web app analytics tool.
      %li
        %a{:href => "http://statcounter.com/"} Statcountr
        %p one of the ORIGINAL web analytics tools available.
      %li
        %a{:href => "http://snowplowanalytics.com/"} Snow Plow
        %p analytics tool for web apps with a lot of data.
      %li
        %a{:href => "http://www.adobe.com/solutions/digital-analytics/marketing-reports-analytics.html"} Adobe Digital Analytics
        %p standard analytics tools plus some that large organizations can use.
      %li
        %a{:href => "https://paditrack.com/"} Paditrack.com/
        %p analyze any data from Google Analytics, including the data you had before.
      %li
        %a{:href => "http://www.hitslink.com/"} Hitslink.com/
        %p real-time analytics, social media traffic reporting, and real-time dynamic segmentation.
      %li
        %a{:href => "http://parse.ly%20"} parse.ly
        %p real-time web analytics tool with a focus on tracking content.
      %li
        %a{:href => "http://loggr.net/"} Loggr
        %p  track your user events and monitor your web app.
      %li
        %a{:href => "https://www.kissmetrics.com/"} Kissmetrics
        %p real-time standard cohort analysis tool.
      %li
        %a{:href => "http://sitemeter.com/"} Sitemeter
        %p old analytics tool.
      %li
        %a{:href => "http://www.crawltrack.net/"} Crawl Track
        %p another old analytics tool.
      %li
        %a{:href => "http://www.sitespect.com/"} Sitespect
        %p full-suite web app analytics tool including A/B testing.
    %h2#heatmap-analytics Heatmap analytics
    %ul
      %li
        %a{:href => "https://www.reinvigorate.net/"} Reinviorate
        %p real-time analytics tool with heatmaps.
      %li
        %a{:href => "http://www.crazyegg.com/"} Crazyegg
        %p a heatmaps only analtyics tool.
      %li
        %a{:href => "https://www.inspectlet.com/"} Inspeclet
        %p another web app heatmaps tool.
      %li
        %a{:href => "http://mouseflow.com/%20"} Mouseflow
        %p live analytics and heatmaps.
      %li
        %a{:href => "http://www.sessioncam.com/"} Session Cam
        %p heatmaps analytics tool.
      %li
        %a{:href => "https://heatma.ps/"} Heatmaps for your iOS apps
        %p mobile app heatmaps for mobile apps.
      %li
        %a{:href => "http://heatdata.com/"} Heatmaps for Mobile Websites
        %p heatmaps tool for mobile apps and mobile websites.
    %h2#analytics-layers Analytics layers
    %ul
      %li
        %a{:href => "http://adjust.com/"} Keen.io
        %p custom-analytics API.
      %li
        %a{:href => "http://www.popcornmetrics.com/"} Popcorn metrics
        %p visual editor to capture events and send to toher platforns.
      %li
        %a{:href => "http://Segment.io"} Segment.io
        %p helps you integrate multiple app analytics tool with one piece of code.
    %h2#mobile-analytics Mobile analytics
    %p The tools listed here are not necessarily mobile analytics tools only. However they show a strong mobile focus.
    %ul
      %li
        %a{:href => "http://www.upsight.com/"} Upsight
        %p mobile app analytics tool for developers.
      %li
        %a{:href => "http://www.appsflyer.com/"} Appsflyer
        %p all-in-one marketing tool with analytics.
      %li
        %a{:href => "http://aws.amazon.com/mobileanalytics/"} Amazon Mobile Analytics
        %p Amazons multi-platform, basic mobile analytics tool.
      %li
        %a{:href => "https://tapstream.com/"} Tapstream
        %p user lifecycle analytics.
      %li
        %a{:href => "https://honeytracks.com/"} Honeytracks
        %p mobile app analytics for games.
      %li
        %a{:href => "https://apsalar.com/"} Apsalar
        %p analytics tool for larger app shops.
      %li
        %a{:href => "http://www.roambi.com/"} Roambi
        %p 3-in-1 analytics tool that helps you track analytics, handle mobile app business intelligence, and app reporting.
      %li
        %a{:href => "http://www.appcelerator.com/platform/appcelerator-analytics/"} Appcelerator
        %p entire mobile app marketing suite.
      %li
        %a{:href => "http://www.flurry.com/"} Flurry
        %p pretty much the “industry standard” for mobile app analytics.
      %li
        %a{:href => "http://count.ly/"} Count.ly
        %p open-source mobile app analytics tool.
      %li
        %a{:href => "http://playtomic.org/"} Playtomatic
        %p mobile app open source analytics tool for games.
      %li
        %a{:href => "http://www.capptain.com/"} Capptain
        %p real-time analytics tool with segmentation and push.
      %li
        %a{:href => "https://amplitude.com/"} Amplitude
        %p real-time mobile analytics with all data provided in redshift.
      %li
        %a{:href => "http://www.appsee.com/"} Appsee
        %p mobile app analytics platform automatically tracks all users' interactions in your app
      %li
        %a{:href => "https://mixpanel.com/"} Mixpanel
        %p fully featured mobile analytics platform with segmentation and push.
      %li
        %a{:href => "http://www.localytics.com/"} Localytics
        %p fast and beautiful real-time mobile analytics platform with in-app and push.
      %li
        %a{:href => "http://www.gameanalytics.com/"} GameAnalytics
        %p leading game analytics platform.
    %h2#app-store-analytics App store analytics
    %ul
      %li
        %a{:href => "http://appfigures.com/"} Appfigures
        %p app store analytics to track sales, reviews and rankings with an API.
      %li
        %a{:href => "http://www.appannie.com/"} Appannie
        %p track your app data from iTunes, Google Play &amp; Amazon.
      %li
        %a{:href => "https://prioridata.com/"} Priori Data
        %p track and benchmark the performance of apps on Apple- and Play store.
      %li
        %a{:href => "http://www.askingpoint.com/mobile-app-rating-widget"} Asking Point
        %p track your mobile app user ratings.
      %li
        %a{:href => "http://www.apptrace.com/"} Apptrace
        %p fast and free app store analytics platform.
    %h2#attribution-tracking Attribution tracking
    %ul
      %li
        %a{:href => "http://adjust.com/"} Adjust
        %p open-source SDK with sophisticated analysis and campaign tracking.
      %li
        %a{:href => "http://clickmeter.com/"} Clickmeter
        %p analytics tool that helps you track marketing campaigns.
      %li
        %a{:href => "http://www.mobileapptracking.com/"} HasOffers Mobile app tracking
        %p attribution analytics platform.
    %h2#social-media-analytics Social media analytics
    %p Often there is no clear differentiation between social media management and analytics as most the tools provide analytics.
    %ul
      %li
        %a{:href => "https://klout.com/"} Klout
        %p Social media analytics and planning platform.
      %li
        %a{:href => "http://www.falconsocial.com/"} Falconsocial
        %p communications platform built on social media with analytics.
      %li
        %a{:href => "https://www.quintly.com/"} Quintly
        %p web-based tool to help you track, benchmark and optimize your social media performance.
      %li
        %a{:href => "http://kred.com/"} Kred
        %p Klout-like social media analytics platform.
      %li
        %a{:href => "https://bufferapp.com/"} Buffer
        %p Social media publishing and analytics platform.
      %li
        %a{:href => "http://topsy.com/"} Topsy
        %p Social analytics tool with search.
      %li
        %a{:href => "http://socialblade.com/"} SocialBlade
        %p premiere YouTube statistics tracking.
      %li
        %a{:href => "https://klout.com/"} SocialBench
        %p Social media analytics platform.
      %li
        %a{:href => "https://hootsuite.com/"} Hootsuite
        %p Social media management dashbaord.
      %li
        %a{:href => "http://www.brandwatch.com/"} Brandwatch
        %p Social media monitoring and analytics.
      %li
        %a{:href => "http://sproutsocial.com/"} Sproutsocial
        %p Social media management and analytics platform.
    %h2#analytics-dashboards Analytics dashboards
    %ul
      %li
        %a{:href => "https://github.com/Freeboard/freeboard"} Freeboard
        %p open source real-time dashboard builder for IOT and other web mashups.
      %li
        %a{:href => "https://www.geckoboard.com/"} Geckboard
        %p dashboard for key metrics in one place.
      %li
        %a{:href => "https://ducksboard.com/"} Ducksboard
        %p visualize and share the data that matters most to you and your team.
