---
title: Frontend
---

%section.wrap
  %div.inner
    %header
      %h1 Frontend
      %p
        Forked from
        %a{:href => "https://github.com/moklick/frontend-stuff"} Awesome Frontend
        %br/
        %a{:href => "http://ucarmetin.github.io/toolbox/"} Go back

  %ul
    %li
      %a{:href => "#ui-frameworks"} UI Frameworks
    %li
      %a{:href => "#charts"} Charts
    %li
      %a{:href => "#maps"} Maps
    %li
      %a{:href => "#text"} Text
    %li
      %a{:href => "#video"} Video
    %li
      %a{:href => "#audio"} Audio
    %li
      %a{:href => "#tables"} Tables
    %li
      %a{:href => "#lazy-loading"} Lazy Loading
    %li
      %a{:href => "#scrolling"} Scrolling
    %li
      %a{:href => "#animations"} Animations
    %li
      %a{:href => "#ui-elements"} UI Elements
    %li
      %a{:href => "#templating"} Templating
    %li
      %a{:href => "#http-requests"} HTTP requests
    %li
      %a{:href => "#dates"} Dates
    %li
      %a{:href => "#events"} Events
    %li
      %a{:href => "#general"} General
    %li
      %a{:href => "#icons"} Icons
    %li
      %a{:href => "#colors"} Colors
    %li
      %a{:href => "#databases"} Databases
    %li
      %a{:href => "#social"} Social
    %li
      %a{:href => "#codepen-collection"} Codepen collection
  %h3#ui-frameworks UI Frameworks
  %ul
    %li
      %a{:href => "http://semantic-ui.com/"} semantic-ui
      %p UI Kit with lots of themes and elements
    %li
      %a{:href => "http://cardinalcss.com/"} cardinal
      %p Cardinal is a small mobile first CSS framework
    %li
      %a{:href => "http://getuikit.com/index.html"} uikit
      %p A lightweight and modular front-end framework
    %li
      %a{:href => "http://purecss.io/"} pure
      %p A set of small, responsive CSS modules
    %li
      %a{:href => "http://bootflat.github.io/index.html"} bootflat
      %p Bootstrap with a flat design theme
    %li
      %a{:href => "http://matthewhartman.github.io/base/"} base
      %p Responsive CSS framework with IE7+ support
    %li
      %a{:href => "http://gugel.io/papier/"} papier
      %p Material design like minimal CSS framework
    %li
      %a{:href => "http://materializecss.com/"} materialize
      %p A modern responsive front-end framework based on Material Design
    %li
      %a{:href => "https://github.com/callemall/material-ui"} Material UI
      %p A CSS Framework and a Set of React Components that Implement Google's Material Design
    %li
      %a{:href => "http://caramel.ga/"} caramel
      %p A simple, beautiful, responsive, modern CSS framework
  %h3#charts Charts
  %ul
    %li
      %a{:href => "http://nvd3.org/"} nvd3
      %p Re-usable charts and chart components for d3.js
    %li
      %a{:href => "http://c3js.org/"} c3
      %p D3-based reusable chart library
    %li
      %a{:href => "http://dc-js.github.io/dc.js/"} dc
      %p For heavy amounts of data
    %li
      %a{:href => "https://github.com/NathanEpstein/D3xter"} D3xter
      %p Straight forward plotting built on D3
    %li
      %a{:href => "http://fastly.github.io/epoch"} epoch
      %p A general purpose, real-time visualization library
    %li
      %a{:href => "http://metricsgraphicsjs.org/"} metricsgraphics
      %p Optimized for visualizing time-series data
    %li
      %a{:href => "http://www.chartjs.org/"} chartjs
      %p Simple, clean and engaging charts for designers and developers
    %li
      %a{:href => "http://gionkunz.github.io/chartist-js/"} chartist
      %p Simple responsive charts
    %li
      %a{:href => "http://dimplejs.org"} dimple
      %p An object-oriented API for business analytics powered by d3
    %li
      %a{:href => "http://omnipotent.net/jquery.sparkline/"} sparkline
      %p Sparkline charts library
    %li
      %a{:href => "http://prag.ma/code/sparky/"} sparky
      %p Sparkline charts library based on rapahel
    %li
      %a{:href => "http://jsplumbtoolkit.com/"} jsplumb
      %p Visual connectivity for webapps (flowcharts, sequence diagrams, etc)
    %li
      %a{:href => "http://www.taucharts.com/"} taucharts
      %p Charts with a focus on design and flexibility
    %li
      %a{:href => "http://visjs.org/"} vis.js
      %p A dynamic, browser based visualization library.
    %li
      %a{:href => "https://sbstjn.github.io/timesheet.js/"} timesheet.js
      %p HTML5 &amp; CSS3 time sheets
  %h3#maps Maps
  %ul
    %li
      %a{:href => "https://developers.google.com/maps/documentation/staticmaps/"} Google static maps v2
    %li
      %a{:href => "http://leafletjs.com/"} leaflet
      %p Library for mobile-friendly interactive maps
      %ul
        %li
          %a{:href => "https://gist.github.com/rclark/5779673"} leaflet topojson support
          %p TopoJSON-aware Leaflet layer
        %li
          %a{:href => "http://leafletjs.com/plugins.html"} leaflet plugins
          %p Notable Leaflet Plugins
        %li
          %a{:href => "https://github.com/moklick/generator-leaflet"} leaflet generator
          %p Yeoman generator that scaffolds out a leaflet map application
    %li
      %a{:href => "https://snazzymaps.com/"} Snazzy maps
      %p Free styles for google maps
    %li
      %a{:href => "http://www.vincentbroute.fr/mapael/"} Mapael
      %p Ease the build of pretty data visualizations on dynamic vector maps
    %li
      %a{:href => "http://jqvmap.com/"} JQV Map
      %p jQuery Vector Maps
    %li
      %a{:href => "http://jvectormap.com/"} Jquery Vector Map
      %p A vector-based, cross-browser and cross-platform component for interactive geography-related data visualization on the web
    %li
      %a{:href => "https://github.com/mbostock/topojson"} topojson
      %p An extension to GeoJSON that encodes topology
    %li
      %a{:href => "http://planetaryjs.com/"} planetary
      %p Interactive globes for the web
    %li
      %a{:href => "http://mikefowler.me/smallworld.js/"} smallworld
      %p A small utility for generating a small world
    %li
      %a{:href => "http://turfjs.org/"} turf
      %p A modular geospatial engine
    %li
      %a{:href => "http://osmbuildings.org/"} osmbuildings
      %p Library for visualizing buildings as pseudo 3D objects on interactive maps
    %li
      %a{:href => "http://openlayers.org/"} openlayers3
      %p Mapping library that supports different projections
    %li
      %a{:href => "http://kartograph.org/"} Kartograph
      %p Simple and lightweight framework for building interactive map applications without Google Maps
    %li
      %a{:href => "https://github.com/djaiss/mapsicon"} mapsicon
      %p Collection of maps for nearly every country in the world in PNG and SVG
    %li
      %a{:href => "http://cesiumjs.org/"} Cesium
      %p JavaScript library for creating 3D globes and 2D maps in a web browser without a plugin.
  %h3#text Text
  %ul
    %li
      %a{:href => "http://simplefocus.com/flowtype/"} flowtype
      %p Responsive typography
    %li
      %a{:href => "http://type-scale.com/"} Type Scale
      %p A visual typography calculator
    %li
      %a{:href => "https://github.com/adobe-webplatform/dropcap.js"} dropcap.js
      %p CSS dropcaps
    %li
      %a{:href => "http://aroc.github.io/side-comments-demo/"} side-comments
      %p Medium style comments
    %li
      %a{:href => "http://mattduvall.com/grande.js/"} grande.js
      %p JavaScript library that implements features from Medium's editing experience
    %li
      %a{:href => "http://sofish.github.io/pen"} pen
      %p Editor with markdown support
    %li
      %a{:href => "http://letteringjs.com/"} lettering
      %p JQuery web typography plugin
    %li
      %a{:href => "http://baconforme.com/"} bacon
      %p Wraps text around a Bézier curve or a line
    %li
      %a{:href => "https://eager.io/showcase/SmartUnderline/"} smart underline
      %p Descender-aware underlines for every browser
    %li
      %a{:href => "http://www.pluminjs.com/"} Plumin.js
      %p Create and manipulate fonts using javascript
    %li
      %a{:href => "http://typeplate.com/"} Typeplate
      %p A 'typographic starter kit'
    %li
      %a{:href => "https://github.com/qrpike/Web-Font-Load"} Google web font load
      %p Install all Google Web Fonts onto your local machine
    %li
      %a{:href => "https://github.com/ubuwaits/beautiful-web-type"} Beautiful web type
      %p A showcase of the best typefaces from the Google web fonts directory
    %li
      %a{:href => "https://github.com/davatron5000/FitText.js"} Fit text
      %p FitText makes font-sizes flexible. Use this plugin on your responsive design for ratio-based resizing of your headlines
  %h3#video Video
  %ul
    %li
      %a{:href => "http://mediaelementjs.com/"} medialementjs
      %p Video and audio handling
    %li
      %a{:href => "http://fitvidsjs.com/"} Fitvid
      %p Responsive videos
    %li
      %a{:href => "https://github.com/kiln/talkie"} talkie
      %p Combines audio and animations
    %li
      %a{:href => "http://www.videojs.com/"} Videojs
      %p Open source HTML5 video player
    %li
      %a{:href => "http://plyr.io/"} Plyr
      %p A simple HTML5 media player with custom controls and WebVTT captions
  %h3#audio Audio
  %ul
    %li
      %a{:href => "http://jshanley.github.io/blip/"} blip
      %p Web Audio API wrapper
    %li
      %a{:href => "http://howlerjs.com/"} howler
      %p Audio library
    %li
      %a{:href => "http://createjs.com/SoundJS"} soundjs
      %p Audio library + simple interface
    %li
      %a{:href => "http://soundcite.knightlab.com/"} SoundCite
      %p Inline audio player
  %h3#tables Tables
  %ul
    %li
      %a{:href => "https://github.com/filamentgroup/tablesaw"} Table saw
      %p A group of plugins for responsive tables
    %li
      %a{:href => "http://github.hubspot.com/sortable/docs/welcome/"} sortable
      %p Makes tables sortable
    %li
      %a{:href => "http://handsontable.com/"} handson table
      %p Minimalist Excel-like data grid editor
    %li
      %a{:href => "http://www.dynatable.com/"} dynatables
      %p Semantic and interactive table plugin using jQuery, HTML5, and JSON
    %li
      %a{:href => "http://www.datatables.net/"} DataTables
      %p jQuery plugin which adds sorting, paging and filtering abilities to plain HTML tables with minimal effort
  %h3#lazy-loading Lazy-Loading
  %ul
    %li
      %a{:href => "http://pazguille.github.io/aload/"} Aload
      %p Asynchronously loads images, scripts, styles and more
    %li
      %a{:href => "https://github.com/ressio/lazy-load-xt"} loadXT
      %p Lazy loading for any elements
    %li
      %a{:href => "http://toddmotto.com/labs/echo/"} echo
      %p Standalone JavaScript lazy-loading image micro-library
    %li
      %a{:href => "http://luis-almeida.github.io/unveil/"} Unveil
      %p Lightweight plugin to lazy load images for jQuery or Zepto.js
  %h3#scrolling Scrolling
  %ul
    %li
      %a{:href => "http://scrollme.nckprsn.com/"} scrollme
      %p A jQuery plugin for adding simple scrolling effects to web pages
    %li
      %a{:href => "http://mynameismatthieu.com/WOW/"} WOW
      %p Reveal CSS animation as you scroll down a page
    %li
      %a{:href => "http://janpaepke.github.io/ScrollMagic/"} ScrollMagic
      %p Library for scroll interactions
    %li
      %a{:href => "http://larsjung.de/jquery-fracs/"} fracs
      %p Plugin to determine the visible fractions of HTML elements
    %li
      %a{:href => "https://github.com/Prinzhorn/skrollr"} skrollr
      %p Stand-alone parallax scrolling library for mobile and desktop
    %li
      %a{:href => "https://github.com/tholman/overscroll"} Overscroll
      %p Javascript for adding small easter eggs when over scrolling on apple devices.
    %li
      %a{:href => "https://github.com/alvarotrigo/pagePiling.js"} Page piling
      %p Create a scrolling pile of sections.
  %h3#animations Animations
  %ul
    %li
      %a{:href => "http://impulse.luster.io/"} impulse
      %p Dynamic physics interactions for the mobile web
    %li
      %a{:href => "http://velocityjs.org/"} velocity
      %p Accelerated JavaScript animation
    %li
      %a{:href => "https://greensock.com/gsap"} GSAP
      %p Fast animation library
    %li
      %a{:href => "http://bouncejs.com/"} bounce.js
      %p CSS3 powered animations
    %li
      %a{:href => "https://daniel-lundin.github.io/snabbt.js/"} snabbt
      %p Animations with JavaScript and CSS transforms
    %li
      %a{:href => "https://daneden.github.io/animate.css/"} animate.css
      %p A cross-browser library of CSS animations
    %li
      %a{:href => "http://semantic-ui.com/modules/transition.html"} semantic ui - transition
      %p Simple CSS3 Animations and transitions
    %li
      %a{:href => "https://github.com/tweenjs/tween.js"} tween.js
      %p Tweening engine
  %h3#ui-elements UI Elements
  %ul
    %li
      %a{:href => "https://leaverou.github.io/awesomplete/"} awesomplete
      %p Lightweight autocomplete
    %li
      %a{:href => "http://github.hubspot.com/tether/docs/welcome/"} tether
      %p Marrying UI Elements (dropdown, tooltips, guide, selects)
    %li
      %a{:href => "http://tympanus.net/Development/CreativeButtons/"} button concepts
      %p List of CSS button variations
    %li
      %a{:href => "https://select2.github.io/"} select2
      %p JQuery based replacement for select boxes
    %li
      %a{:href => "https://harvesthq.github.io/chosen/"} chosen
      %p Library for making long, unwieldy select boxes more friendly
    %li
      %a{:href => "http://ricostacruz.com/nprogress/"} NProgress
      %p Slim progress bars for Ajax'y applications. Inspired by Google, YouTube, and Medium
    %li
      %a{:href => "https://pathgather.github.io/please-wait/"} PleaseWait.js
      %p A simple library to show your users a beautiful splash page while your application loads
    %li
      %a{:href => "http://tristanedwards.me/sweetalert"} SweetAlert
      %p An awesome replacement for JavaScript's alert
    %li
      %a{:href => "https://lightningtgc.github.io/MProgress.js/"} MProgress.js
      %p Google Material Design Progress Linear bar
    %li
      %a{:href => "https://inorganik.github.io/countUp.js/"} countUp.js
      %p Count up or down animation effects for numbers
    %li
      %a{:href => "http://github.hubspot.com/messenger/"} Messenger.js
      %p Client-side growl-like notifications with actions and auto-retry.
  %h3#templating Templating
  %ul
    %li
      %a{:href => "http://mozilla.github.io/nunjucks/"} nunjucks
      %p A rich and powerful templating language
    %li
      %a{:href => "https://github.com/janl/mustache.js"} mustache
      %p Minimal templating with {{mustaches}} in JavaScript
    %li
      %a{:href => "https://olado.github.io/doT/"} dotjs
      %p Fast templating engine
    %li
      %a{:href => "http://twitter.github.io/hogan.js/"} Hogan
      %p JavaScript templating
    %li
      %a{:href => "http://paperclipjs.com/"} paperclip.js
      %p Reactive DOM template engine built for speed, and extensibility
    %li
      %a{:href => "https://github.com/wycats/handlebars.js"} Handlebars
      %p Handlebars.js is an extension to the Mustache templating language
  %h3#http-requests HTTP requests
  %ul
    %li
      %a{:href => "https://github.com/ded/reqwest"} reqwest
      %p Browser asynchronous HTTP requests
    %li
      %a{:href => "https://visionmedia.github.io/superagent/"} superagent
      %p Client-side HTTP request library
    %li
      %a{:href => "http://krampstudio.github.io/aja.js/"} aja
      %p Asynchronous JavaScript And JSON(P)
    %li
      %a{:href => "https://github.com/github/fetch"} fetch
      %p A
      %code window.fetch
      javascript polyfill
  %h3#dates Dates
  %ul
    %li
      %a{:href => "http://momentjs.com/"} moment.js
      %p Parse, validate, manipulate, and display dates
  %h3#events Events
  %ul
    %li
      %a{:href => "https://github.com/fat/bean"} bean
      %p Events api
    %li
      %a{:href => "http://craig.is/riding/gators"} gator.js
      %p Simple event delegation
  %h3#general General
  %ul
    %li
      %a{:href => "http://keithamus.github.io/jwerty/"} jwerty
      %p Handling of keyboard events
    %li
      %a{:href => "https://github.com/tommcfarlin/konami-code"} Konami code
      %p Using the Konami code, easily configure and Easter Egg for your page or any element on the page
    %li
      %a{:href => "http://openexchangerates.github.io/accounting.js/"} accounting.js
      %p Number, money and currency formatting
  %h3#icons Icons
  %ul
    %li
      %a{:href => "http://fontastic.me/"} fontastic
      %p Icon and svg fonts
    %li
      %a{:href => "https://github.com/google/material-design-icons"} Material design icons
      %p Material Design icons by Google
    %li
      %a{:href => "http://thenounproject.com/"} the nounproject
      %p Icon search
    %li
      %a{:href => "http://fontello.com/"} fontello
      %p Icon fonts generator
    %li
      %a{:href => "https://octicons.github.com/"} octicons
      %p Github icons
    %li
      %a{:href => "http://fortawesome.github.io/Font-Awesome/"} fontawesome
      %p Gives you scalable vector icons that can instantly be customized
    %li
      %a{:href => "http://evil-icons.io/"} evil icons
      %p Lightweight SVG icons
    %li
      %a{:href => "http://ionicons.com/"} ionicons
      %p The icon font for Ionic Framework
    %li
      %a{:href => "http://zurb.com/playground/foundation-icon-fonts-3"} foundation icon font 3
      %p Foundation Zurb Icon Font 3
    %li
      %a{:href => "https://github.com/orlandotm/payment-webfont"} Payment webfont
      %p An SVG webfont full of main payment system icons
    %li
      %a{:href => "https://github.com/vendocrat/PaymentFont"} Payment font
      %p A sleek webfont containing 94 icons of all main payment operators and methods
  %h3#colors Colors
  %ul
    %li
      %a{:href => "http://old.driven-by-data.net/about/chromajs/"} chromajs
      %p Library for all kinds of color manipulations
    %li
      %a{:href => "http://coolors.co/"} coolors
      %p Super fast color scheme generator
    %li
      %a{:href => "http://bootflat.github.io/color-picker.html"} bootflat color picker
      %p Color picker for flat design
    %li
      %a{:href => "http://color.hailpixel.com/"} color
      %p Intuitive color picker
    %li
      %a{:href => "http://colourco.de/"} colourco
      %p Color scheme tool
    %li
      %a{:href => "http://uigradients.com/"} uiGradients
      %p A handpicked collection of beautiful colour gradients for design and code
    %li
      %a{:href => "http://clrs.cc/"} Colors
      %p Smarter Default colors on the web.
    %li
      %a{:href => "http://colorbrewer2.org/"} colorbrewer2
      %p Color advice for cartography
  %h3#databases Databases
  %ul
    %li
      %a{:href => "http://pouchdb.com/"} pouchdb
      %p Created to help developers build applications that work as well offline as they do online
    %li
      %a{:href => "http://www.taffydb.com/"} taffydb
      %p Brings database features into your JavaScript applications
    %li
      %a{:href => "http://lokijs.org/"} LokiJS
      %p Embeddable / in-memory database
    %li
      %a{:href => "http://www.forerunnerdb.com/"} ForerunnerDB
      %p Database with mongo-like query language and data-binding support
    %li
      %a{:href => "https://github.com/marcuswestin/store.js/"} store.js
      %p LocalStorage wrapper for all browsers without using cookies or flash. Uses localStorage, globalStorage and userData behavior
  %h3#social Social
  %ul
    %li
      %a{:href => "http://www.filamentgroup.com/lab/socialcount.html"} socialcount
      %p Custom sharing buttons with share count
    %li
      %a{:href => "http://whatsapp-sharing.com/"} whatsapp button
      %p Creates a whatsapp sharing button
    %li
      %a{:href => "http://kurtnoble.com/labs/rrssb/"} rrssb
      %p Ridiculously Responsive Social Sharing Buttons
    %li
      %a{:href => "http://sharebutton.co/"} share-button
      %p Fast, beautiful, and painless social shares
  %h3#codepen-collection Codepen collection
  %ul
    %li
      %a{:href => "http://codepen.io/ucarmetin/pen/EagXOE"} Pull Menu - Menu interaction concept
    %li
      %a{:href => "http://codepen.io/SitePoint/pen/bNYBZX"} Google Image Search Layout
    %li
      %a{:href => "http://codepen.io/chriscoyier/pen/ogWWPK"} iBooks-like Layout with Light CSS/JS
    %li
      %a{:href => "http://codepen.io/tutsplus/pen/XJexGg"} Scrollable panels with Flexbox
    %li
      %a{:href => "http://codepen.io/shak_dizzle/pen/Pwmpzx"} Poly-man animation
    %li
      %a{:href => "http://codepen.io/ucarmetin/pen/dPXorK"} Direction-aware Hover Effect
    %li
      %a{:href => "http://codepen.io/SitePoint/pen/bNWXdQ"} Ultimate Long Shadows
    %li
      %a{:href => "http://codepen.io/johnmotyljr/pen/FtLxu"} Clone &amp; Duplicate
    %li
      %a{:href => "http://codepen.io/johnmotyljr/pen/sIqlz"} Better setTimeout() function
    %li
      %a{:href => "http://codepen.io/ucarmetin/pen/umpil"} Accessible Read More Links
    %li
      %a{:href => "http://codepen.io/ucarmetin/pen/EGHfv"} SVG Loading Indicators
    %li
      %a{:href => "http://codepen.io/ucarmetin/pen/razWdG"} SVG Hamburger Icon
    %li
      %a{:href => "http://codepen.io/robooneus/pen/Aclqr"} An animated scroll button.
